<main id="cartPage">
  <h1>CHECKOUT</h1>

  <form method="post" action="/pay">
    <h3>CUSTOMER DETAILS</h3>
    <input type="text" placeholder="Enter your name" />
    <br />
    <input type="email" placeholder="Enter your email" value={{logged}} />
    <br />
    {{#if membership}}
      <p id="member">
        <span id="star">&starf;</span>
        VERIFIED MEMBER</p>
    {{/if}}
    <h3 id="yourClasses">YOUR CLASSES</h3>

    {{#each cartItems}}
      <div id="cartItems">
        <div id="mainItems">
          <p class="itemsTitle">{{class_name}} WITH {{class_instructor}}</p>
          <p class="itemsTitle">{{class_duration}} MIN</p>
        </div>
        <div id="itemRemove">
          <button
            id="btn-remove"
            value={{id}}
            onclick="removeItem({{id}})"
            type="button"
          >REMOVE</button>
        </div>
      </div>
    {{/each}}

    <hr />
    {{#if membership}}
      <p class="total">Subtotal: 0</p>
      <p class="total">Tax: 0</p>
      <hr />
      <p class="total">Total: 0</p>
    {{else}}
      <p class="total">Subtotal: {{subTot}} </p>
      <p class="total">Tax: {{vat}} </p>
      <hr />
      <p class="total">Total: {{total}} </p>

    {{/if}}
    <input name="amount" value="{{total}}" hidden />
    <button id="btn-pay">PAY</button>

  </form>
</main>